main.add-produto {
  align-items: center;
  background: var(--cinza2);
  display: flex;
  justify-content: center;
}

section.novo-produto {
  min-width: 55.9rem;
  min-height: 51.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.novo-produto h1.titulo-principal {
  color: var(--preto);
  font-size: 3.2rem;
  font-weight: 700;
}

section.novo-produto div.add-imagem-produto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.novo-produto div.add-imagem-produto h2.conjuncao {
  color: var(--preto);
  font-size: 1.6rem;
  font-weight: 400;
}

section.novo-produto div.add-imagem-produto button.upload-imagem {
  border: 1px solid var(--azul-escuro);
  background: var(--cinza2);
  color: var(--azul-escuro);
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.6rem;
}

section.novo-produto div.add-imagem-produto div.imagem{
  width: 28.2rem;
  height: 15.2rem;
  background: var(--branco);
  border: 2px dashed var(--cinza);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

section.novo-produto div.add-imagem-produto div.imagem p.mensagem {
  color: #6B6B6B;
  font-size: 1.4rem;
  font-weight: 400;
  max-width: 21.8rem;
  margin-top: 1.6rem;
  max-height: 4rem;
  text-align: center;
}

section.novo-produto form.registro-novo-produto div.text-input {
  position: relative;
  margin-bottom: 1.6rem;
}

section.novo-produto form.registro-novo-produto div.text-input input {
  border: none;
  padding-left: 1.2rem;
  width: 98%;
  min-height: 5.6rem;
  border-radius: .4rem;
  border-bottom: 1px solid var(--cinza);
}

section.novo-produto form.registro-novo-produto div.text-input textarea {
  border: none;
  padding-top: 1.6rem;
  padding-left: 1.2rem;
  width: 98%;
  min-height: 5.6rem;
  border-bottom: 1px solid var(--cinza);
  border-radius: .4rem;
}

section.novo-produto form.registro-novo-produto div.text-input label {
  color: var(--cinza);
  font-size: 1.6rem;
  font-weight: 400;
  position: absolute;
  top: 1.6rem;
  left: 1.2rem;
}

section.novo-produto form.registro-novo-produto button.submit {
  background: var(--azul-escuro);
  width: 100%;
  border: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--branco);
  padding: 1.6rem 0;
}