footer.footer {
  background: var(--azul-bebe);
}

footer.footer section.conteudo {
  display: flex;
  justify-content: space-between;
}

footer.footer section.conteudo div.logo-alurageek {
  width: 17.6rem;
  height: 5rem;
}

footer.footer section.conteudo div.logo-alurageek img {
  width: 100%;
  height: 100%;
}

footer.footer section.conteudo div.links {
  display: flex;
  flex-direction: column;
  height: 23.4rem;
  justify-content: space-between;
}

footer.footer section.conteudo div.links div.logo-alurageek-link {
  display: none;
}

footer.footer section.conteudo div.links a {
  color: var(--preto);
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
}

footer.footer section.conteudo form.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 56rem;
}

footer.footer section.conteudo form.formulario h2.titulo {
  font-size: 1.6rem;
}

footer.footer section.conteudo form.formulario div.text-input input.nome, footer.footer section.conteudo form.formulario div.text-input textarea.mensagem {
  border: none;
  border-bottom: 1px solid var(--cinza);
  border-radius: .4rem;
  height: 5.6rem;
  padding-left: 1.2rem;
  width: 98%;
}

footer.footer section.conteudo form.formulario div.text-input textarea.mensagem {
  padding-top: 1.8rem;
}

footer.footer section.conteudo form.formulario div.text-input {
  position: relative;
}

footer.footer section.conteudo form.formulario label {
  position: absolute;
  color: var(--cinza);
  font-size: 1.6rem;
  font-weight: 400;
  left: 1.2rem;
  top: 1.6rem;
  transition: all .3s;
}

footer.footer section.conteudo form.formulario div.text-input input.nome:focus, footer.footer section.conteudo form.formulario div.text-input textarea.mensagem:focus {
  border-bottom: 1px solid var(--azul-escuro);
  outline: 0;
}

footer.footer section.conteudo form.formulario div.text-input input.nome:focus ~ label, footer.footer section.conteudo form.formulario div.text-input  textarea.mensagem:focus ~ label {
  color: var(--azul-escuro);
  font-size: 1.2rem;
  padding-top: .8rem;
  top: -2px;
}

footer.footer section.conteudo form.formulario div.text-input input.nome:valid ~ label, footer.footer section.conteudo form.formulario div.text-input textarea.mensagem:valid ~ label {
  color: var(--cinza);
  font-size: 1.2rem;
  padding-top: .8rem;
  top: -2px;
}

footer.footer section.conteudo form.formulario button.botao-submit {
  color: var(--branco);
  background: var(--azul-escuro);
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.2rem 1.6rem;
  height: 5rem;
  width: 16.5rem;
}

@media screen and (max-width:768px){

  footer.footer section.conteudo form.formulario {
    justify-content: flex-start;
  }

  footer.footer section.conteudo form.formulario h2.titulo, footer.footer section.conteudo form.formulario textarea.mensagem{
    margin-bottom: .8rem;
  }
  footer.footer section.conteudo form.formulario div.text-input input.nome{
    margin-bottom: 1.6rem;
  }  

  footer.footer section.conteudo div.logo-alurageek {
    display: none;
  }

  footer.footer section.conteudo div.links {
    height: 30rem;
  }
  footer.footer section.conteudo div.links div.logo-alurageek-link {
    display: block;
    width: 17.6rem;
    height: 5rem;
  }

  footer.footer section.conteudo div.links div.logo-alurageek-link img {
    width: 100%;
    height: 100%;
  }

  footer.footer section.conteudo form.formulario {
    width: 43.4rem;
  }

}