main.login {
  background: var(--cinza2);
  display: flex;
  justify-content: center;
}

main.login footer.formulario-login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 291px;
  width: 423px;
  margin: 5.9rem;
}

main.login footer.formulario-login h1.titulo {
  font-size: 1.6rem;
  font-weight: 700;
  align-self: center;
}

main.login footer.formulario-login div.input {
  position: relative;
}

main.login footer.formulario-login input.email, main.login footer.formulario-login input.senha {
  width: 98%;
  height: 6.3rem;
  border: none;
  padding-left: 1.2rem;
  border-bottom: 1px solid var(--cinza);
}

main.login footer.formulario-login div.input label{
  color: var(--cinza);
  font-size: 1.8rem;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 25px;
}

main.login footer.formulario-login button.botao-entrar {
  color: var(--branco);
  background: var(--azul-escuro);
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem;
  border: none;
  transition: .3s all;
}

main.login footer.formulario-login button.botao-entrar:hover {
  background: var(--azul-hover2);
}

@media screen and (max-width: 768px){
  main.login footer.formulario-login {
    margin: 3rem 0;
  }
  main.login footer.formulario-login button.botao-entrar {
    width: 109px;
    align-self: center;
  }
}

@media screen and (max-width: 425px) {
  main.login footer.formulario-login div.input {
    align-self: center;
  }
  main.login footer.formulario-login input.email, main.login footer.formulario-login input.senha {
    width: 275px;
  }
}