@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap");

:root {
  --branco: #ffffff;
  --azul-escuro: #2a7ae4;
  --preto: #464646;
  --azul-bebe: #eaf2fd;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  color: var(--preto);
}

.container {
  color: var(--branco);
}

@media screen and (max-width: 720px) {
  .container {
    padding: 1.6rem 3.2rem;
  }
}

@media screen and (max-width: 360px) {
  .container {
    padding: 1.6rem 2rem;
  }
}
