header div.topo {
  background-image: url("../img/icons/logo-alurageek.svg");
  background-repeat: no-repeat;
}

@media screen and (max-width: 720px) {
  div.topo {
    display: flex;
    align-items: center;
    justify-content: end;
    background-position: 32px center;
  }

  div.topo button.topo__botao-login {
    color: var(--azul-escuro);
    background: var(--branco);
    border: 2px solid var(--azul-escuro);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1.2rem 3.75rem;
  }
}

@media screen and (max-width: 360px) {
  div.topo button.topo__botao-pesquisa {
    border: none;
    background: var(--branco);
    margin-left: 3.85rem;
    background-position: 16px center;
  }
}
